.profile__add-button {
    -webkit-transition: opacity 0.2s linear 0.2s;
    -o-transition: opacity 0.2s linear 0.2s;
    transition: opacity 0.2s linear 0.2s;
}

.profile__add-button:hover {
    opacity: 0.6;
    cursor: pointer;
}
