.popup__form-input-error {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.21;
    color: #FF0000;
    position: relative;
    left: 36px;
    bottom: 25px;
    max-width: 358px;
    margin: 0px;
}
