.card__delete {
    background: none;
    -webkit-transition: opacity 0.2s linear 0.2s;
    -o-transition: opacity 0.2s linear 0.2s;
    transition: opacity 0.2s linear 0.2s;
    background-image: url("../../../images/trash.png");
    width: 18px;
    height: 19.3px;
    position: absolute;
    top: 18px;
    right: 15px;
    border: none;
}

.card__delete:hover {
    opacity: 0.6;
    cursor: pointer;
}
